<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjJAS74AQ3lUBorCz_VUmw-j4l_nEeUDM</string>
	<key>GCM_SENDER_ID</key>
	<string>979357280789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.studypress.learn</string>
	<key>PROJECT_ID</key>
	<string>studypress-83bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>studypress-83bdf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979357280789:ios:9986432c5a6246a9317c1c</string>
</dict>
</plist>